        body {
            margin: 0;
            min-height: 100vh;

            background-image: url("padi.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-attachment: fixed;

            display: flex;
            align-items: center;
            justify-content: center;
        }