    @media print {

        .no-print,
        .offcanvas,
        .btn,
        form {
            display: none !important;
        }

        .card {
            border: none !important;
            box-shadow: none !important;
        }
    }