    /* CSS Khusus Cetak */
    @media print {

        .no-print,
        .offcanvas,
        .btn,
        form {
            display: none !important;
        }

        .card {
            border: none !important;
            shadow: none !important;
        }

        .table {
            width: 100% !important;
            border: 1px solid #000;
        }

        body {
            background: #fff;
        }
    }

    .card-dashboard {
        border-left: 4px solid;
        transition: transform 0.2s;
    }

    .card-dashboard:hover {
        transform: translateY(-3px);
    }
